.button {
    position: relative;
    padding: .85em 1em;
    margin: .45em;
    margin-left: 0;
    font-size: .85em;
    color: #333;
    cursor: pointer;
    z-index: 1;
}

.button:before {
    position: absolute;
    content: "";
    top: 0; left: 0; right: 0; bottom: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    z-index: -1;
}

.button:hover:before {
    background: #f2f2f2;
}