.input {
    width: 100%;
    margin: 0;
    padding: 1em;
    background: #e8e8e8;
    border: 0;
    outline: 0;
    resize: vertical;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.comment {
    position: relative;
    background: #fff;
    border-bottom: 1px solid #ddd;
    display: flex;
}

.comment:hover .panel {
    display: flex;
}

.text {
    padding: 1em;
    white-space: pre-line;
    font-weight: bold;
}

.panel {
    position: absolute;
    top: 0; right: 0;
    display: none;
}